<div>
This site is currently undergoing renovation.  It will be back online on 1/16/2013.
</div>
<!--

<%= render :partial => "home/home" %>
<%= render :partial => "home/about" %>
<%= render :partial => "home/work" %>
<%= render :partial => "home/projects" %>

<%= render :partial => "home/project-pcr" %>
<%= render :partial => "home/project-elevator" %>
<%= render :partial => "home/project-cashier" %>
-->

