<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css' />
  </head>
  <body>

    <div id="header" data-role="header">

      <ul id="navigation">
	<li id="nav-home"><a id="link-home" href="/home/home"> <%= image_tag "icons/logo.png", {:height=>"100%", :width=>"100%"} %></a></li>
	<li id="nav-projects"><a id="link-projects" href="/home/projects"><%= image_tag "icons/projects.png", {:height=>"100%", :width=>"100%"} %> <span class="link-text">Projects</span></a></li>
	<li id="nav-work"><a id="link-work" href="/home/work"><%= image_tag "icons/work.png", {:height=>"100%", :width=>"100%"} %> <span class="link-text">Work</span></a></li>
	<li id="nav-about"><a id="link-about" href="/home/about"><%= image_tag "icons/about.png", {:height=>"100%", :width=>"100%"} %> <span class="link-text">About</span></a></li>
      </ul>
    </div>

    <div id="content">
      <%= yield %>
    </div>

    <script type="text/javascript">

      $(document).pjax("#navigation a","#content");
      $(document).on('pjax:send', function() {
      $("#content").css("display","none");
      })
      $(document).on('pjax:complete', function() {
      $("#content").fadeIn();

      })
    </script>

  </body>
</html>
